* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(253, 253, 253);
}

@mixin mob {
  @media screen and (max-width: 750px) {
    @content;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include mob() {
    grid-template-columns: repeat(1, 1fr);
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 550px;
    margin: auto;

    .info {
      width: 320px;
      text-align: left;
      margin-bottom: 15px;

      .info__title {
        font-size: 30px;
        font-weight: bold;
        color: #222f3e;
        margin-bottom: 60px;
      }

      .login__title {
        font-size: 18px;
        color: #222f3e;
        margin: 15px 0;
      }

      .info__discription {
        color: rgb(170, 168, 168);
        font-size: 12px;
        letter-spacing: 0.5px;
        margin-top: 5px;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 13px;
        color: #222f3e;
        font-weight: 700;
        margin: 10px 0;
        letter-spacing: 0.6px;
      }

      input {
        padding: 10px;
        color: gray;
        width: 300px;
        border-radius: 5px;
        border: 1px solid rgb(230, 230, 230);
        outline: none;
        background-color: rgb(253, 253, 253);
      }
    }

    .btn {
      display: flex;
      flex-direction: column;

      button {
        width: 320px;
        background-color: #1f79e0;
        color: #fff;
        border: 1px solid #1f79e0;
        border-radius: 5px;
        margin: 20px auto;
        padding: 10px;
        font-size: 17px;
        box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
        cursor: pointer;
      }

      .google {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        background-color: #fff;
        color: #222f3e;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 5px;
        margin: 10px auto;
        padding: 10px;
        font-size: 17px;
        box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
        cursor: pointer;

        img {
          margin-right: 10px;
        }
      }
    }
  }

  .already__login {
    margin-top: 20px;

    p {
      font-size: 13px;
      color: #222f3e;
      letter-spacing: 0.5px;
    }

    a {
      color: #1f79e0;
      text-decoration: none;
    }
  }
}

.img__container {
  background-image: url("/img/pexels-mihai-vlasceanu-1438445.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  grid-column: span 2 / auto;

  @include mob() {
    display: none;
  }
}
