* {
  margin: 0;
  padding: 0;
}

@mixin desktop {
  @media screen and (max-width: 1225px) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: 1111px) {
    @content;
  }
}

@mixin mob {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin mo {
  @media screen and (max-width: 625px) {
    @content;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  .info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 80px;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding-bottom: 15px;

    @include mob() {
      margin-left: 0;
    }

    h2 {
      font-size: 25px;
      color: #222f3e;
      letter-spacing: 0.5px;
      padding-bottom: 30px;

      @include mo() {
        padding-top: 20px;
        padding-bottom: 15px;
      }
    }

    h3 {
      font-size: 1rem;
      color: #222f3e;
      letter-spacing: 0.5px;
      margin-top: 30px;

      @include mo() {
        margin-top: 20px;
      }
    }

    p {
      font-size: 11px;
      color: gray;
      letter-spacing: 0.5px;
      margin-top: 12px;

      @include mo() {
        margin-top: 20px;
      }
    }
  }

  .form__container {
    .form {
      display: flex;
      justify-content: center;
      margin-left: 80px;
      flex-direction: column;

      @include mob() {
        margin-left: 0;
      }

      .check {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        .check__line {
          display: flex;
          flex-direction: row;
          align-items: center;

          #checkbox {
            padding: 5px;
            border: 5px solid #222f3e;
          }

          .text {
            margin-left: 15px;
            font-size: 13px;
            color: gray;
            letter-spacing: 0.4px;
            padding: 5px 0;

            a {
              text-decoration: none;
              color: #1f79e0;
            }
          }
        }

        .btn {
          display: flex;
          flex-direction: initial;
          margin-top: 20px;

          button {
            width: 200px;
            background-color: #1f79e0;
            color: #fff;
            border: 1px solid #1f79e0;
            border-radius: 5px;
            padding: 10px;
            font-size: 17px;
            box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
            cursor: pointer;
          }
        }

        .already__login {
          margin-top: 20px;

          p {
            font-size: 13px;
            color: gray;
            letter-spacing: 0.5px;
          }

          a {
            color: #1f79e0;
            text-decoration: none;
          }
        }
      }

      .form__form {
        form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
          margin-top: 15px;

          @include mo() {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
          }

          label {
            font-size: 13px;
            color: #222f3e;
            font-weight: 700;
            margin: 30px 0;
            letter-spacing: 0.6px;
          }

          input {
            padding: 8px;
            color: gray;
            width: 260px;
            border-radius: 5px;
            border: 1px solid rgb(230, 230, 230);
            outline: none;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .img__container {
    background-image: url("/img/pexels-lisa-1402407.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 32vw;
    grid-column: span 1 / auto;

    @include desktop() {
      width: 36vw;
    }

    @include tab() {
      width: 30vw;
    }

    @include mob() {
      width: 0vw;
    }
  }
}
