* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.container .info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 80px;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-bottom: 15px;
}
@media screen and (max-width: 1000px) {
  .container .info {
    margin-left: 0;
  }
}
.container .info h2 {
  font-size: 25px;
  color: #222f3e;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
}
@media screen and (max-width: 625px) {
  .container .info h2 {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}
.container .info h3 {
  font-size: 1rem;
  color: #222f3e;
  letter-spacing: 0.5px;
  margin-top: 30px;
}
@media screen and (max-width: 625px) {
  .container .info h3 {
    margin-top: 20px;
  }
}
.container .info p {
  font-size: 11px;
  color: gray;
  letter-spacing: 0.5px;
  margin-top: 12px;
}
@media screen and (max-width: 625px) {
  .container .info p {
    margin-top: 20px;
  }
}
.container .form__container .form {
  display: flex;
  justify-content: center;
  margin-left: 80px;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  .container .form__container .form {
    margin-left: 0;
  }
}
.container .form__container .form .check {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.container .form__container .form .check .check__line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .form__container .form .check .check__line #checkbox {
  padding: 5px;
  border: 5px solid #222f3e;
}
.container .form__container .form .check .check__line .text {
  margin-left: 15px;
  font-size: 13px;
  color: gray;
  letter-spacing: 0.4px;
  padding: 5px 0;
}
.container .form__container .form .check .check__line .text a {
  text-decoration: none;
  color: #1f79e0;
}
.container .form__container .form .check .btn {
  display: flex;
  flex-direction: initial;
  margin-top: 20px;
}
.container .form__container .form .check .btn button {
  width: 200px;
  background-color: #1f79e0;
  color: #fff;
  border: 1px solid #1f79e0;
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}
.container .form__container .form .check .already__login {
  margin-top: 20px;
}
.container .form__container .form .check .already__login p {
  font-size: 13px;
  color: gray;
  letter-spacing: 0.5px;
}
.container .form__container .form .check .already__login a {
  color: #1f79e0;
  text-decoration: none;
}
.container .form__container .form .form__form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 15px;
}
@media screen and (max-width: 625px) {
  .container .form__container .form .form__form form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.container .form__container .form .form__form form label {
  font-size: 13px;
  color: #222f3e;
  font-weight: 700;
  margin: 30px 0;
  letter-spacing: 0.6px;
}
.container .form__container .form .form__form form input {
  padding: 8px;
  color: gray;
  width: 260px;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  outline: none;
  margin-top: 10px;
}
.container .img__container {
  background-image: url("/img/pexels-lisa-1402407.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 32vw;
  grid-column: span 1/auto;
}
@media screen and (max-width: 1225px) {
  .container .img__container {
    width: 36vw;
  }
}
@media screen and (max-width: 1111px) {
  .container .img__container {
    width: 30vw;
  }
}
@media screen and (max-width: 1000px) {
  .container .img__container {
    width: 0vw;
  }
}/*# sourceMappingURL=signup.css.map */